<!DOCTYPE html>
<html>
<head>
    <title>FAQ Aplikasi Cek Cuaca</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Pertanyaan yang Sering Diajukan (FAQ)</h1>

        <ul>
            <li>
                <h3>Bagaimana cara saya mengecek cuaca di suatu lokasi?</h3>
                <p>Untuk mengecek cuaca di suatu lokasi, masukkan nama lokasi pada kolom "Masukan Lokasi" di atas, kemudian klik tombol "Cari Lokasi". Hasil cuaca akan ditampilkan di bawah.</p>
            </li>

            <li>
                <h3>Apakah informasi cuaca yang ditampilkan akurat?</h3>
                <p>Informasi cuaca yang ditampilkan diambil dari sumber terpercaya. Namun, ketepatan informasi cuaca dapat bervariasi, jadi selalu bijaksana untuk memverifikasi dari sumber lain jika diperlukan.</p>
            </li>

            <li>
                <h3>Apakah ada biaya yang dikenakan untuk menggunakan aplikasi ini?</h3>
                <p>Tidak, aplikasi ini gratis digunakan. Anda tidak akan dikenakan biaya apa pun untuk mengecek cuaca di lokasi yang Anda inginkan.</p>
            </li>
        
            <li>
                <h3>Apakah saya perlu membuat akun untuk menggunakan aplikasi?</h3>
                <p>Tidak, Anda tidak perlu membuat akun untuk menggunakan aplikasi ini. Anda dapat langsung mencari cuaca tanpa perlu mendaftar.</p>
            </li>
        
            <li>
                <h3>Bagaimana cara melaporkan kesalahan atau masalah dalam aplikasi?</h3>
                <p>Jika Anda menemui masalah atau ingin melaporkan kesalahan, silakan hubungi tim dukungan kami melalui halaman kontak. Kami akan dengan senang hati membantu Anda.</p>
            </li>
        </ul>
    </div>
    {{>footer}}
</body>
</html>
