<!DOCTYPE html>
<html>
<head>
    <title>Tentang Aplikasi Cek Cuaca</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Tentang Aplikasi Cek Cuaca</h1>
        <p>Ini adalah aplikasi sederhana yang memungkinkan Anda untuk mengecek cuaca di berbagai lokasi di seluruh dunia. Aplikasi ini memberikan informasi cuaca yang terbaru dan dapat diandalkan.</p>
        <h2>Pengembang</h2>
        <img class="portrait" src="/img/g1.png" alt="Foto Pengembang">
        <p>Arafil Azmi</p>
        <p>Rafiazmi0812@gmail.com</p>
        <p>Halo Guys ! Selamat datang di aplikasi berbasis web untuk melakukan pengecekan cuaca disini kalian bisa melakukan pengecekan cuaca baik itu Indonesia maupun negara lainnya.</p>
        <p>I hope your enjoy !!!! </p>
    </div>
    {{>footer}}
</body>
</html>
